In [1]:
import os
import pandas as pd
import numpy as np

# Load Dataset

In [2]:
data = pd.read_csv('./data/artist_song_lyrics.csv')

In [3]:
data.head()

,Artist,Song,Lyrics
0,Adele,Skyfall,"['This is the end', 'Hold your breath and coun..."
1,The Weeknd,Save Your Tears,"['Ooh', 'Na-na, yeah', '[Verse 1]', '[Verse 1]..."
2,Harry Styles,Watermelon Sugar,"[""Tastes like strawberries on a summer evenin'..."
3,Doja Cat,Say So,"['Day to night to morning, keep with me in the..."
4,Imagine Dragons,Thunder,"['Just a young gun with a quick fuse', 'I was ..."

# Data Exploration

In [4]:
data.shape

(99, 3)

In [5]:
data.describe()

       Artist     Song                                             Lyrics
count      99       99                                                 99
unique     47       99                                                 99
top     Adele  Skyfall  ['This is the end', 'Hold your breath and coun...
freq        5        1                                                  1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Artist  99 non-null     object
 1   Song    99 non-null     object
 2   Lyrics  99 non-null     object
dtypes: object(3)
memory usage: 2.4+ KB

# Data Processing

In [7]:
import string

# create translator that replaces punctuation with empty spaces
translator = str.maketrans("", "", string.punctuation)

In [8]:
# remove punctuation characters and convert all chars to lowercase
data['Lyrics'] = data['Lyrics'].apply(lambda x: x.translate(translator).lower() if isinstance(x, str) else x)

In [9]:
from collections import Counter
from collections import OrderedDict

#Get top 5 words used in each song's lyrics
for row in range(0,data.shape[0]):
    words = data['Lyrics'][row].split() #split text into words
    word_frequency = Counter(words) #Use Counter to count the freq of each word
    word_frequency = sorted(word_frequency.items(), key=lambda item: (-item[1], item[0])) #sort frequencies

    df_dict = pd.DataFrame(OrderedDict(word_frequency).items(),columns= ['word','frequency']) #convert sorted freqs to ordereddict and add data to df 
    print(df_dict.head())

    word  frequency
0     it         18
1    the         17
2  stand         14
3     we         14
4   fall         13
      word  frequency
0        i         27
1      you         17
2     your         13
3      for         11
4  another         10
         word  frequency
0       sugar         27
1  watermelon         25
2        high         23
3           i         17
4        just          9
   word  frequency
0   you         37
1    it         26
2    to         24
3    me         15
4  keep         13
        word  frequency
0    thunder         73
1        the         26
2  lightning         10
3       feel          9
4       then          9
  word  frequency
0   im         22
1    i         17
2  the         16
3   in         15
4  you         15
   word  frequency
0  yeah         47
1  babe         32
2   the         29
3  that         27
4    on         20
   word  frequency
0     i         30
1   you         19
2   and         13
3  knew         13
4    me          9
    word  frequency
0      i         27
1    you         17
2   they         11
3     it          8
4  would          8
    word  frequency
0      i         12
1    ooh         12
2      a         11
3    the         10
4  youre         10
   word  frequency
0     i         38
1   you         28
2   the         18
3  that         15
4    it         14
  word  frequency
0  the         28
1  and         17
2    i         17
3   on         12
4   my          9
   word  frequency
0   the         29
1    it         22
2  yeah         17
3   pop         14
4     i         11
     word  frequency
0      it         37
1   blame         29
2      my         29
3  yayaee         28
4      on         25
      word  frequency
0       im         22
1  dancing         19
2     with         15
3      you         14
4  tonight         13
       word  frequency
0       the         32
1  memories         20
2      back         19
3     bring         19
4        to         14
   word  frequency
0   the         20
1    in         13
2  gaga         12
3  lady         12
4     i          6
   word  frequency
0   you         39
1     i         28
2   and         26
3    me         21
4  that         19
   word  frequency
0     i         50
1    la         28
2    as         16
3  need         16
4  dont         14
   word  frequency
0   you         29
1   the         18
2    to         18
3  know         13
4  dont         11
   word  frequency
0    on         40
1  come         37
2    my         33
3     i         30
4   and         27
    word  frequency
0   next         42
1    you         39
2  thank         37
3   yeah         15
4      i         14
  word  frequency
0    i         22
1  the         15
2   im         10
3  hey          9
4   oh          7
  word  frequency
0    i         18
1  you         16
2  and         13
3  the         13
4   to         11
   word  frequency
0   the         32
1    me         22
2    of         20
3  love         16
4   you         16
   word  frequency
0   you         36
1     i         18
2    my         17
3  that         16
4  when         16
   word  frequency
0  yeah         41
1   you         35
2     i         26
3    me         24
4    my         15
   word  frequency
0  away         21
1   run         21
2     i         13
3   the         12
4   you         10
   word  frequency
0   guy         16
1    im         14
2   bad         13
3   you          9
4  your          9
    word  frequency
0      i         25
1  sorry         20
2    you         17
3     im         13
4     is         12
       word  frequency
0       the         29
1        me         23
2       you         21
3        my         20
4  believer         18
   word  frequency
0     a         30
1  this         25
2    in         24
3     i         23
4  some         20
        word  frequency
0        you         35
1       funk         29
2     uptown         29
3         up         25
4  dohdohdoh         19
  word  frequency
0    i         24
1   ya         16
2  you         16
3  ooh         14
4  for         11
    word  frequency
0    awe         27
1    you         19
2      a         16
3    the         16
4  youre         13
      word  frequency
0       im         23
1      for         21
2       on         20
3  tonight         16
4      the         15
      word  frequency
0     like         39
1        a         28
2   bright         27
3  diamond         24
4    shine         23
  word  frequency
0   me         23
1  you         22
2    i         21
3   im         14
4   it         14
   word  frequency
0   the         21
1  yeah         17
2   you         15
3    my         13
4    in         12
    word  frequency
0      i         17
1    the         16
2     my         14
3    mmm         12
4  chris          9
   word  frequency
0  yeah         39
1   the         37
2     i         27
3     a         19
4    to         17
    word  frequency
0  bitch         19
1      a         17
2     im         17
3    ooh         14
4      i         13
   word  frequency
0   you         37
1     i         19
2    me         19
3  know         14
4   the         12
    word  frequency
0   high         34
1      a         32
2    had         24
3  hopes         17
4      i         17
  word  frequency
0   to         23
1    i         21
2  the         14
3  you         14
4  and         12
    word  frequency
0    the         16
1  older         15
2      i         14
3     we         14
4   aint         13
   word  frequency
0   mum         45
1    my         32
2  cant         30
3  face         30
4  read         30
    word  frequency
0  young         37
1   dumb         28
2  broke         19
3    and         13
4   high          9
         word  frequency
0      1908nn          1
1           n          1
2  ntimestamp          1
3           â€“          1
  word  frequency
0  all         28
1  you         25
2   my         19
3   me         18
4   of         17
   word  frequency
0    to         33
1     i         18
2    we         17
3  used         13
4   but         11
    word  frequency
0  highs         16
1   lows         16
2    you         16
3     to         14
4      i         12
   word  frequency
0    me          9
1  with          9
2     i          8
3  stay          8
4    to          7
     word  frequency
0  havana         21
1     ooh         21
2      me         20
3    back         19
4    nana         17
  word  frequency
0  you         35
1  the         31
2   it         19
3   to         19
4   in         18
   word  frequency
0    it         21
1     i         19
2   the         15
3    to         14
4  even         12
  word  frequency
0  the         23
1  you         22
2   it         19
3   in         17
4  had         16
  word  frequency
0   no         18
1  one         18
2  you         16
3    i         13
4  the         13
   word  frequency
0   you         58
1  what         23
2   are         20
3  doin         20
4    me         18
   word  frequency
0   you         15
1   and         13
2  that         13
3    im         12
4    my         11
       word  frequency
0       the         19
1       and         18
2  paradise         14
3       war         14
4      zone         14
   word  frequency
0     i         35
1   the         15
2    it         14
3    is         13
4  this         13
    word  frequency
0      i         45
1     it         33
2    now         33
3    you         26
4  right         24
  word  frequency
0   to         56
1  you         32
2  the         31
3  get         25
4  ive         18
  word  frequency
0    i         19
1  you         12
2   in         11
3   my         10
4  the          7
       word  frequency
0         a         25
1       ayy         18
2      like         15
3       and         13
4  rockstar         13
    word  frequency
0  shake         70
1      i         67
2     it         36
3    off         36
4  gonna         22
   word  frequency
0     i         14
1    to         14
2  cant         12
3   the         12
4  like          9
     word  frequency
0  wishin         26
1     and         20
2       i         19
3      me         18
4    they         12
  word  frequency
0    i         23
1  you         19
2   it         16
3  the         13
4  but         12
   word  frequency
0  your         55
1  want         53
2     i         47
3   bad         38
4  love         36
   word  frequency
0   the         18
1    to         17
2    im         13
3  woah         13
4   age         12
   word  frequency
0     i         57
1    it         36
2  love         31
3   but         27
4  cant         23
   word  frequency
0     i         55
1    it         54
2    my         20
3   got         19
4  want         18
  word  frequency
0  you         30
1    a         19
2  the         17
3    i         15
4  and         14
     word  frequency
0    eyes         14
1   ocean         14
2   those         10
3     you          8
4  chorus          6
       word  frequency
0       ayy         45
1        my         20
2       you         19
3       the         15
4  umbrella         15
   word  frequency
0  yeah         63
1     i         29
2  like         26
3   you         26
4     a         16
   word  frequency
0    we         49
1   are         23
2  show         23
3  them         23
4  lets         19
   word  frequency
0   you         40
1   and         29
2     i         25
3    my         15
4  that         15
   word  frequency
0  dont         29
1    up         22
2    me         21
3   you         16
4   out         15
   word  frequency
0     i         56
1   you         28
2     a         23
3  dont         23
4   the         16
    word  frequency
0    you         29
1      a         21
2   katy         12
3  perry         12
4    her         11
      word  frequency
0        i         22
1      and         15
2       an         11
3  elastic         11
4      got         11
      word  frequency
0      you         20
1        i         16
2      the         16
3      are         15
4  amazing         14
     word  frequency
0  feelin         29
1     you         28
2      as         16
3    good         16
4    hell         16
   word  frequency
0     i         17
1    in         16
2    my         14
3    it         12
4  like         11
  word  frequency
0   of         20
1    a         18
2  the         14
3   to         12
4    i         10
    word  frequency
0    you         20
1     we         19
2     of         17
3  ready         15
4    all         12
       word  frequency
0        in         19
1   rihanna         18
2         a         17
3  hopeless         17
4      love         17
     word  frequency
0     you         19
1     and         10
2   chris         10
3  martin         10
4    will          9
   word  frequency
0   you         52
1    do         29
2  what         29
3  mean         28
4    oh         26
    word  frequency
0   yeah         35
1      i         31
2    the         24
3    you         16
4  those         15
   word  frequency
0     a         49
1   you         27
2     i         25
3    it         23
4  know         23
   word  frequency
0     i         20
1   you         19
2   the         18
3    im         14
4  know         14
     word  frequency
0     you         23
1       i         16
2      to         12
3      so         11
4  before          9
    word  frequency
0     im         30
1  sorry         28
2   baby         23
3   that         15
4      i         14
   word  frequency
0    to         27
1     i         26
2  want         17
3   you         16
4    go         15
    word  frequency
0    you         28
1    the         22
2    and         17
3  jonas         13
4     im         12

In [10]:
# Get Top 5 words used across all songs

#concatenate all lyrics
lyricsConcat = data['Lyrics'].str.cat(sep=' ')

# Split the text into words
words = lyricsConcat.split()

# Use Counter to count the frequency of each word
all_word_frequency = Counter(words)

all_word_frequency = sorted(all_word_frequency.items(), key=lambda item: (-item[1], item[0])) #sort frequencies

df_all_dict = pd.DataFrame(OrderedDict(all_word_frequency).items(),columns= ['word','frequency']) #convert sorted freqs to ordereddict and add data to df 

df_all_dict.head()

  word  frequency
0    i       1667
1  you       1619
2  the       1208
3   it        705
4   to        704

### Removing words that are common among the entire dataset could strengthen the model if the those words don't add additional value

### For now, I will remove the words 'verse', 'bridge', and 'chorus' since I know these words indicate sections of the song are not lyrics

In [11]:
data['Lyrics'] = data['Lyrics'].apply(lambda x: x.replace('chorus','').replace('verse','').replace('bridge','')
                                     if isinstance(x, str) else x)

In [12]:
#save lyric data to text file
data['Lyrics'].to_csv('input.csv', index=False, header=False, sep='\t')

# Finetune trained model with my lyrics data

In [13]:
from transformers import GPT2LMHeadModel, GPT2Tokenizer, GPT2Config
from transformers import TextDataset, DataCollatorForLanguageModeling
from transformers import Trainer, TrainingArguments

In [23]:
# Load pre-trained GPT-2 model and tokenizer
model_name = "gpt2"
model = GPT2LMHeadModel.from_pretrained(model_name)
tokenizer = GPT2Tokenizer.from_pretrained(model_name)

# Load your dataset
train_dataset = TextDataset(
    tokenizer=tokenizer,
    file_path='input.csv',  # Replace with the path to your dataset
    block_size=128  # Adjust block size as needed
)

# Create a data collator for language modeling
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer,
    mlm=False  # For language modeling tasks, mlm should be set to False
)

# Fine-tuning arguments
if not os.path.exists('output2'):
    try:
        os.makedirs('output2')
    except OSError as e:
        print (e)
else:
    print(f"Folder already exists.")


training_args = TrainingArguments(
    output_dir="output",  # Replace with the path where you want to save the fine-tuned model
    overwrite_output_dir=True,
    num_train_epochs=3,  # Adjust as needed
    per_device_train_batch_size=4,  # Adjust batch size as needed
    save_total_limit=2,
    logging_steps=2,

)

# Create Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    data_collator=data_collator,
    train_dataset=train_dataset,
)

# Fine-tune the model
trainer.train()

# Save the fine-tuned model
model.save_pretrained("output2")

Folder already exists.

# Testing The Model

In [ ]:
# Load your fine-tuned model and tokenizer
model = GPT2LMHeadModel.from_pretrained('your_fine_tuned_model_directory')
tokenizer = GPT2Tokenizer.from_pretrained('your_fine_tuned_model_directory')

# Define a function for searching songs based on user queries
def search_songs(query, data, model, tokenizer):
    # Encode the user query
    input_ids = tokenizer.encode(query, return_tensors="pt")

    # Generate a response from the model
    output = model.generate(input_ids)

    # Decode and return the generated response
    decoded_response = tokenizer.decode(output[0], skip_special_tokens=True)
    return decoded_response

# Example usage
user_query = "What songs talk about cars?"
result = search_songs(user_query, your_dataset, model, tokenizer)
print(result)